<div class="hall-cards">
  <app-hall-card *ngFor="let item of halls" [hall]="item" />
  <app-hall-card [hall]="halls[0]" />
  <app-hall-card [hall]="halls[0]" />
  <app-hall-card [hall]="halls[0]" />
  <app-hall-card [hall]="halls[0]" />
  <app-hall-card [hall]="halls[0]" />
  <app-hall-card [hall]="halls[0]" />
  <app-hall-card [hall]="halls[0]" />
  <app-hall-card [hall]="halls[0]" />
  <app-hall-card [hall]="halls[0]" />
  <app-hall-card [hall]="halls[0]" />
</div>

<button
  class="button fixed-button"
  routerLink="/add-hall"
  [state]="{ isFormUpdate: false }"
>
  Dodaj
</button>
