@use "../../../styles.scss" as style;

.hall-cards {
  height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-y: scroll;
  scrollbar-width: none;
}

.search-halls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem auto;

  p,
  input {
    font-size: 1.7rem;
  }
  p {
    font-weight: 700;
  }

  input {
    border-radius: 20px;
    border: 3px solid style.$colorYellow;
    padding: 2px 10px;
  }
}
