<table class="reservation-table">
  <thead>
    <tr>
      <th></th>
      <th *ngFor="let hour of hours">{{ hour.getHours() }}:00</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hall of halls; let i = index">
      <th>{{ hall.naziv }}</th>
      <td
        *ngFor="let hour of hours"
        [ngClass]="{ reserved: isReserved(hall, hour) }"
      >
        {{ getReservationData(hall, hour) }}
        <button
          class="button"
          *ngIf="isReserved(hall, hour)"
          style="width: 50%; border-radius: 10px; height: 30px; font-size: 15px"
          (click)="showAddReservationModal(getReservation(hall, hour))"
        >
          Vise...
        </button>
        <button
          *ngIf="isReserved(hall, hour)"
          class="close-button"
          (click)="cancelReservationModal(getReservation(hall, hour))"
        >
          &times;
        </button>
      </td>
    </tr>
  </tbody>
</table>

<button
  class="button fixed-button"
  (click)="showAddReservationModal(getReservation(undefined, hours[0]))"
>
  Rezervisi
</button>

<app-add-reservation
  #addReservationComponent
  [hours]="this.hours"
  (reservationUpated)="reservationUpdated()"
></app-add-reservation>
