@use "../../../styles.scss" as style;

.reservation-table {
  //   border: 3px solid black;
  min-width: 100%;
  font-size: 1.3rem;
  color: #fff;

  th,
  td {
    height: 90px;
    width: 100px;
    background-color: #60c3ad;
    text-align: center;
    font-weight: 700;
    position: relative;
  }
  th:nth-child(even) {
    background-color: style.$colorBlue;
  }
  th:nth-child(odd) {
    background-color: style.$colorPurple;
  }

  tbody > tr > td {
    padding-top: 15px;
  }
}

.reserved {
  background-color: #f34d45 !important;
}

.reservation-table .close-button {
  position: absolute;
  top: -5px;
  right: 5px;
  background: none;
  border: none;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
