@use "../../../../styles.scss" as style;

.add-sala-form {
  max-width: 500px;
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: style.$colorPurple;
  margin: auto auto;
  border-radius: 30px;
  font-size: 30px;
  gap: 20px;
  font-weight: 600;
  overflow-y: scroll;
  padding: 40px 0;
  scrollbar-width: none;

  .add-sala-form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    label {
      color: style.$colorBlue;
    }

    input,
    select {
      width: 350px;
      height: 50px;
      border-radius: 30px;
      border: none;
      background-color: #fff;
      font-size: 30px;
      padding-left: 15px;
    }
  }
  .add-sala-group-button {
    margin-top: 20px;
  }
}
