<div
  style="
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  "
>
  <div class="add-sala-form">
    <div class="add-sala-form-group">
      <label for="nazivSale">Naziv sale</label>
      <input type="text" name="nazivSale" [(ngModel)]="hall.naziv" />
    </div>
    <div class="add-sala-form-group">
      <label for="napomena">Napomena</label>
      <input type="text" name="napomena" [(ngModel)]="hall.napomena" />
    </div>
    <div class="add-sala-form-group select">
      <label for="tipSale">Tip sale</label>
      <select name="tipSale" [(ngModel)]="hall.tipSale">
        <option *ngFor="let item of hallTypes; index as i" [ngValue]="item">
          {{ item.naziv }}
        </option>
      </select>
    </div>
    <div class="add-sala-form-group">
      <label for="brojMesta">Broj mesta</label>
      <input type="number" name="brojMesta" [(ngModel)]="hall.brojMesta" />
    </div>
    <div class="add-sala-form-group">
      <label for="brojRacunara">Broj racunara</label>
      <input
        type="number"
        name="brojRacunara"
        [(ngModel)]="hall.brojRacunara"
      />
    </div>
    <div class="add-sala-form-group">
      <label for="status">Status</label>
      <select [(ngModel)]="hall.statusSale">
        <option *ngFor="let item of hallStatuses; index as i" [ngValue]="item">
          {{ item.status }}
        </option>
      </select>
    </div>
    <div class="add-sala-group-button">
      <button
        class="button btnAdd"
        (click)="handleAddHall()"
        *ngIf="isFormUpdate == false"
      >
        Dodaj
      </button>
      <button
        class="button btnAdd"
        (click)="handleUpdateHall()"
        *ngIf="isFormUpdate == true"
      >
        Izmeni
      </button>
    </div>
  </div>
</div>
