<div
  style="
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  "
>
  <div class="add-sala-form">
    <div class="add-sala-form-group">
      <label for="nazivSale">Naziv sale</label>
      <input type="text" name="nazivSale" />
    </div>
    <div class="add-sala-form-group">
      <label for="napomena">Napomena</label>
      <input type="text" name="napomena" />
    </div>
    <div class="add-sala-form-group select">
      <label for="tipSale">Tip sale</label>
      <select name="tipSale"></select>
    </div>
    <div class="add-sala-form-group">
      <label for="brojMesta">Broj mesta</label>
      <input type="text" name="brojMesta" />
    </div>
    <div class="add-sala-form-group">
      <label for="brojRacunara">Broj racuanra</label>
      <input type="text" name="brojRacunara" />
    </div>
    <div class="add-sala-form-group">
      <label for="status">Status</label>
      <select name="status"></select>
    </div>
    <div class="add-sala-group-button">
      <button class="button btnAdd">Dodaj</button>
    </div>
  </div>
</div>
