<div class="notifiation-card">
  <div class="informations">
    <h2>Sala <br />{{ reservationNotification.sala?.naziv }}</h2>
    <h2>Korisnik <br />{{ reservationNotification.user?.username }}</h2>
    <h2>
      Datum <br />{{ reservationNotification.vremeDatum?.toLocaleDateString() }}
    </h2>
  </div>
  <div class="actions">
    <button class="button" style="background-color: #60c3ad">Prihvati</button>
    <button class="button" style="background-color: #f34d45">Odbij</button>
  </div>
</div>
