<div class="notifiation-card">
  <div class="informations">
    <h2>
      <span style="color: #ce589f">Sala</span> <br /><span
        *ngFor="let item of reservationNotification.sale"
        >{{ item.naziv }}
      </span>
    </h2>
    <h2>
      <span style="color: #ce589f">Korisnik</span> <br />{{
        reservationNotification.user?.username
      }}
    </h2>
    <h2>
      <span style="color: #ce589f">Datum</span> <br />{{
        reservationNotification.vremeDatum?.toLocaleDateString()
      }}
    </h2>
  </div>
  <div class="actions">
    <button
      class="button"
      style="background-color: #60c3ad"
      (click)="handlePrihvatiRezervaciju()"
    >
      Prihvati
    </button>
    <button
      class="button"
      style="background-color: #f34d45"
      (click)="handleOdbijRezervaciju()"
    >
      Odbij
    </button>
  </div>
</div>
