<div class="custom-modal" #addReservationModal>
  <button class="close-modal" (click)="handleCloseAddReservationModal()">
    X
  </button>
  <form action="" id="creating-form">
    <div>
      <label>Sala: *</label>
      <select name="sala" [(ngModel)]="reservation.sala">
        <option *ngFor="let item of halls; index as i" [ngValue]="item">
          {{ item.naziv }}
        </option>
      </select>
    </div>

    <div>
      <label>Datum i vreme: *</label>
      <input
        type="datetime-local"
        name="datum"
        [(ngModel)]="reservation.vremeDatum"
      />
    </div>

    <div>
      <label>Svrha: *</label>
      <input type="text" name="svrha" [(ngModel)]="reservation.svrha" />
    </div>

    <div>
      <label>User: *</label>
      <input
        type="text"
        name="datum"
        disabled
        [value]="getUserFromLocalStorage()"
      />
    </div>

    <div>
      <button class="button" (click)="handleRezervisi()">Rezervisi</button>
    </div>
  </form>
</div>
