<div class="custom-modal" #addReservationModal>
  <button class="close-modal" (click)="handleCloseAddReservationModal()">
    X
  </button>
  <form action="" id="creating-form">
    <div>
      <label>Sala: *</label>
      <select
        name="sala"
        [(ngModel)]="reservation.sale"
        multiple
        style="height: 110px; scrollbar-width: none; padding: 8px"
      >
        <option *ngFor="let item of halls; index as i" [ngValue]="item">
          {{ item.naziv }}
        </option>
      </select>
    </div>

    <div>
      <label>Datum i vreme: *</label>
      <select name="vremeDatum" [(ngModel)]="reservation.vremeDatum">
        <option *ngFor="let item of hours; index as i" [ngValue]="item">
          {{ item.toString().slice(0, 11) }}{{ item.toString().slice(16, 24) }}
        </option>
      </select>
    </div>

    <div>
      <label>Svrha: *</label>
      <input type="text" name="svrha" [(ngModel)]="reservation.svrha" />
    </div>

    <div>
      <label>User: *</label>
      <input type="text" name="datum" disabled [value]="getUserFromAuth()" />
    </div>

    <div>
      <button
        class="button"
        (click)="handleRezervisi()"
        *ngIf="this.reservation.id == 0"
      >
        Rezervisi
      </button>
      <button
        class="button"
        (click)="handleUpdateReservation()"
        *ngIf="
          ((authService.isAdmin() && this.reservation.id != 0) ||
            (this.reservation.id != 0 &&
              authService.getUser().id == this.reservation.user?.id)) &&
          this.reservation.statusRezervacije?.id != 3
        "
      >
        Izmeni
      </button>
      <button
        class="button"
        (click)="openCancelModal()"
        style="background-color: #f34d45; color: #fff"
        *ngIf="showOdjaviButton()"
      >
        Odjavi
      </button>
      <button
        class="button"
        (click)="handleAcceptReservation()"
        *ngIf="showPrihvatiButton()"
      >
        Prihvati
      </button>
    </div>
  </form>
</div>

<div class="custom-modal" #cancelReservationModal style="display: none">
  <form action="" id="cancel-form">
    <h2>Odjava rezervacije</h2>
    <div>
      <label for="cancelReason">Razlog odjave: *</label>
      <input
        type="text"
        id="cancelReason"
        [(ngModel)]="reservation.razlogOdjave"
        name="cancelReason"
        required
      />
    </div>
    <div>
      <button class="button" (click)="confirmCancellation()">Odjavi</button>
      <button class="button" (click)="closeCancelModal()">Zatvori</button>
    </div>
  </form>
</div>
