<app-topbar-calendar
  (selectedDateChanging)="getOutputSelectedDate($event)"
></app-topbar-calendar>

<div class="reservations">
  @defer(on viewport){
  <app-reservations
    style="width: 100%; display: flex; justify-content: center; height: 100%"
    [selectedDate]="selectedDate"
  ></app-reservations>
  } @placeholder{
  <div class="lds-spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  }
</div>
