<div class="notifications">
  <div style="gap: 1.5rem; display: flex; flex-direction: column">
    <h2 style="text-align: center; font-size: 2rem">Rezervacije</h2>
    <div class="notification" *ngFor="let item of reservations; index as i">
      <app-notification-card
        [reservationNotification]="item"
        (notificationEmitter)="notificationEmitter()"
        (viewNotification)="viewNotification($event)"
      ></app-notification-card>
    </div>
  </div>
  <div style="gap: 1.5rem; display: flex; flex-direction: column">
    <h2 style="text-align: center; font-size: 2rem; padding-top: 3rem">
      Korisnici
    </h2>
    <div class="notification" *ngFor="let item of users; index as i">
      <app-notification-user-card
        [userNotification]="item"
        (notificationEmitter)="notificationEmitter()"
      ></app-notification-user-card>
    </div>
  </div>
</div>

<div class="reservation-wrapper" style="width: 95vw" *ngIf="showReservations">
  <button class="close-button" (click)="handleCloseReservations()">X</button>

  <app-reservations
    style="
      position: absolute;
      width: 90%;
      height: 90%;
      margin: auto auto;
      overflow: scroll;
      scrollbar-width: none;
      top: 0;
      bottom: 0;
      left: 0;
      right: 100px;
      text-align: center;
      box-shadow: rgba(28, 28, 28, 0.6) 0 0 1000px 1000px;
      background-color: rgba(28, 28, 28, 0.6);
    "
    [dayNumber]="viewReservation?.vremeDatum?.getDate()!"
  ></app-reservations>
</div>
