.main-page {
  width: 88vw;
  height: 92vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 115px;
  bottom: 0;
  margin: auto auto;
  background-color: #e2d4ff;
  box-shadow: 10px 10px 15px #757575;
  background-image: url("./../assets/logoBackground.png");
  background-repeat: no-repeat;
  background-position: center;
}
