.login-container {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/registrationBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-form {
    width: 800px;
    min-width: 350px;
    min-height: 550px;
    max-width: 90%;
    max-height: 90%;
    background-color: rgb(226, 212, 255, 0.8);
    position: relative;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;

    :last-child {
      margin-top: 20px;
    }

    input {
      width: 50%;
      min-width: 250px;
      height: 45px;
      border: none;
      border-radius: 20px;
      font-size: 23px;
      padding-left: 30px;
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 20px;
      display: flex;
      align-items: center;
    }
  }
}
