<div class="sidebar">
  <div class="first-group-icons">
    <div class="tool-tip">
      <a routerLink="" routerLinkActive="active"
        ><img src="./assets/homeIcon.png" alt=""
      /></a>
      <span class="tool-tip-text">Home</span>
    </div>
    <div class="tool-tip">
      <img src="./assets/reservationsIcon.png" alt="" />
      <span class="tool-tip-text">Reservations</span>
    </div>
    <div class="tool-tip">
      <img src="./assets/notificationsIcon.png" alt="" />
      <span class="tool-tip-text">Notifications</span>
    </div>
  </div>
  <div class="second-group-icons">
    <div class="tool-tip">
      <a routerLink="/halls" routerLinkActive="active"
        ><img src="./assets/settingsIcon.png" alt=""
      /></a>
      <span class="tool-tip-text">Settings</span>
    </div>
    <div class="tool-tip">
      <img src="./assets/profileIcon.png" alt="" />
      <span class="tool-tip-text">Profile</span>
    </div>
  </div>
</div>
