<div class="top-calendar">
  <div style="display: flex; width: 90%; gap: 2rem">
    <img
      src="./assets/arrowLeft.png"
      alt=""
      style="cursor: pointer; object-fit: contain"
      (click)="scrollLeft()"
    />
    <div class="dates" #datesContainer>
      <h2
        *ngFor="let item of dates; index as i"
        style="cursor: pointer"
        (click)="handleSelectDate(i)"
        [class.selected]="selectedDate === i"
      >
        {{ item.toString().split(" ")[0].toUpperCase() }} <br />
        {{ item.getDate() }}
      </h2>
    </div>

    <img
      src="./assets/arrowRight.png"
      alt=""
      style="cursor: pointer; object-fit: contain"
      (click)="scrollRight()"
    />
  </div>
  <div class="choose-date">
    <img src="./assets/choseDateIcon.png" alt="" style="cursor: pointer" />
  </div>
</div>
