@use "../../../../styles.scss" as style;

.top-calendar {
  height: 120px;
  width: 100%;
  background-color: style.$colorYellow;
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

  .dates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    min-width: 40%;
    gap: 3rem;
    overflow: hidden;
    h2 {
      min-width: 75px;
      color: style.$colorBlue;
      font-size: 1.5rem;
      font-weight: 900;
      text-align: center;
    }
  }

  .selected {
    background-color: style.$colorPurple;
    padding: 23px 5px;
    border-radius: 40px;
  }
}
