@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");

$colorPurple: #ce589f;
$colorBlue: #004a7c;
$colorYellow: #ffcd67;

$josephin500: "Josefin Slab", serif;

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Slab", serif;
}
html {
  background-color: #dddedd;
}

.background-top {
  height: 150px;
  background-color: $colorPurple;
}

.button {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  background-color: $colorYellow;
  color: $colorBlue;
  border: none;
  cursor: pointer;
}

.fixed-button {
  position: fixed;
  bottom: 70px;
  right: 80px;
  width: 100px;
  height: 70px;
  border-radius: 50px;
  background-color: $colorBlue;
  color: $colorYellow;
  border: 2px solid $colorYellow;
}

.custom-modal {
  display: none;
  background-color: $colorPurple;
  box-shadow: rgba(28, 28, 28, 0.6) 0 0 1000px 1000px;
  max-width: 650px;
  margin: auto;
  padding: 50px;
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
  overflow-y: scroll;
  scrollbar-width: none;

  form > div {
    padding: 15px;
  }

  form > div > label {
    display: block;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
  }

  form div input,
  select {
    height: 40px;
    width: 80%;
    font-size: 22px;
    padding: 0 10px;
    border-radius: 15px;
    border: none;
    background-color: #e9e9ed;
    font-weight: 600;
  }
  form ul {
    list-style: none;
  }

  form ul li {
    color: red;
  }

  .button {
    margin-right: 8px;
  }
}

.close-modal {
  width: 20px;
  height: 20px;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}

.lds-spinner,
.lds-spinner div,
.lds-spinner div:after {
  box-sizing: border-box;
}
.lds-spinner {
  color: currentColor;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 50%;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3.2px;
  left: 36.8px;
  width: 6.4px;
  height: 17.6px;
  border-radius: 20%;
  background: currentColor;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
