@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap");

$colorPurple: #ce589f;
$colorBlue: #004a7c;
$colorYellow: #ffcd67;

$josephin500: "Josefin Slab", serif;

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Slab", serif;
}
html {
  background-color: #dddedd;
}

.background-top {
  height: 150px;
  background-color: $colorPurple;
}

.button {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  background-color: $colorYellow;
  color: $colorBlue;
  border: none;
  cursor: pointer;
}

.fixed-button {
  position: fixed;
  bottom: 70px;
  right: 80px;
  width: 100px;
  height: 70px;
  border-radius: 50px;
  background-color: $colorBlue;
  color: $colorYellow;
  border: 2px solid $colorYellow;
}

.custom-modal {
  display: none;
  background-color: $colorPurple;
  box-shadow: rgba(28, 28, 28, 0.6) 0 0 1000px 1000px;
  max-width: 650px;
  margin: auto;
  padding: 50px;
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 10;

  form > div {
    padding: 15px;
  }

  form > div > label {
    display: block;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
  }

  form div input,
  select {
    height: 40px;
    width: 80%;
    font-size: 22px;
    padding: 0 10px;
    border-radius: 15px;
    border: none;
    background-color: #e9e9ed;
    font-weight: 600;
  }
  form ul {
    list-style: none;
  }

  form ul li {
    color: red;
  }
}

.close-modal {
  width: 20px;
  height: 20px;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}
