.profile-info {
  width: 80%;
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  font-size: 25px;
  // border: 2px solid black;

  background-color: rgb(107, 102, 119, 0.2);
  border-radius: 2rem;
  overflow-y: scroll;
  scrollbar-width: none;

  .change-password {
    padding: 1.5rem;
    width: 40%;
    background-color: #004a7c;
    border-radius: 1.5rem;
    margin: 1rem 0;
  }
}

.change-password h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.change-password .expanded {
  transform: rotate(180deg);
}

.change-password .collapsed {
  transform: rotate(0deg);
}

.change-password-form {
  overflow: hidden;
  transition: max-height 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  gap: 1.2rem;

  input {
    font-size: 22px;
    height: 40px;
    border-radius: 30px;
    border: none;
    padding-left: 0.8rem;
  }
}

.change-password-title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
