.profile-info {
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  font-size: 25px;
  border: 2px solid black;
}
